<footer class="bg-dark py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 mx-auto text-center mb-4 mb-md-0">
          <h5>Partenaires officiels</h5>
          <div class="d-flex justify-content-center">
            <a href="https://www.kedz-events.ch/" target="_blank">
              <img src="assets/multimedia/kedzLogo.png" alt="KedzLogo" 
              class="logo me-3 img-fluid" style="max-width: 100px;">
            </a>
            <a href="https://www.instagram.com/rukiyo_arts_studio/" target="_blank">
              <img src="assets/multimedia/rukiyoLogo.png" alt="RukiyoLogo" class="logo img-fluid" style="max-width: 100px;">
            </a>
          </div>
        </div>
        <div class="col-md-6 mx-auto text-center">
          <h6>Suivez-nous</h6>
          <a href="https://www.facebook.com/david.byron.560" target="_blank">
            <img src="assets/multimedia/facebook.svg" alt="facebook-Icon" class="logo me-3 img-fluid">
          </a>
          <a href="https://www.instagram.com/davichosgroup/" target="_blank">
            <img src="assets/multimedia/instagram.svg" alt="instagram-Icon" class="logo me-3 img-fluid">
          </a>

        </div>
      </div>
    </div>
    <div class="text-center">© 2024 Davicho's-Group. Tous droits réservés.
    </div>
</footer>
