<div class="container">
  <h2 class="text-center">'Événements inoubliables en Suisse et à l'étranger</h2>
</div>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721131388/Home/Carrousel/ct1ymdfw9hv4rydprkec.png" class="d-block w-100" alt="Imagen 1">
        <div class="carousel-caption">
          <a href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
            target="_blank" class="carousel-button">Demandez un devis par WhatsApp</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721131400/Home/Carrousel/myzcgzvtte4ujtogwv2i.png" class="d-block w-100" alt="Imagen 2">
        <div class="carousel-caption">
          <a href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
            target="_blank" class="carousel-button">Écrivez-nous</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721139817/Home/Carrousel/e3ztiqw30ux4mikflhxe.png" class="d-block w-100" alt="Imagen 3">
        <div class="carousel-caption">
          <a href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
            target="_blank" class="carousel-button">Nous nous en chargeons</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721139879/Home/Carrousel/l6h2g2foeiyx4zxukbld.png" class="d-block w-100" alt="Imagen 4">
        <div class="carousel-caption">
          <a href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
            target="_blank" class="carousel-button">Demandez un devis</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>


<!--Proximo Evento Card Grande-->
<h3>Prochains événements</h3>
<div class="custom-card-container">
  <div class="custom-card">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721139964/Home/ProximosEventos/cd8h4zjvkeqwkplw8bsu.jpg" class="img-fluid" alt="Ecuador Baila">
    <div class="card-body">
      <h5 class="card-title">Ecuador Baila</h5>
      <p class="card-text">Le plus grand festival de nourriture, musique et culture équatorienne en Suisse</p>
      <a class="carousel-button"
        href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
        target="_blank">Réserver des billets</a>
    </div>
  </div>
  <!-- Agrega más cards aquí -->
  <div class="custom-card">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1718924751/Home/ProximosEventos/asv11qwisghbdwo4pgx4.png" class="img-fluid" alt="OMC Live">
    <div class="card-body">
      <h5 class="card-title">OMC Live</h5>
      <p class="card-text">60 artistes locaux et invités se produiront sur une grande scène au coeur de Lausanne</p>
      <a class="carousel-button"
        href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
        target="_blank">Réserver des billets</a>
    </div>
  </div>
  <div class="custom-card">
    <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1718925244/Home/ProximosEventos/bql8hjn558oxstwhg6al.png" class="img-fluid" alt="Luis Fonsi">
    <div class="card-body">
      <h5 class="card-title">Luis Fonsi - Geneve</h5>
      <p class="card-text">L'artiste latino avec la chanson la plus écoutée sur YouTube</p>
      <a class="carousel-button"
        href="https://wa.me/41797369790?text=Bonjour%20David,%20je%20veux%20te%20poser%20une%20question."
        target="_blank">Réserver des billets</a>
    </div>
  </div>
</div>


<!--Acordeon-->
<div class="accordion-general">
  <h3>Nos événements les plus représentatifs</h3>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          🐲 Mushi Mushi Festival
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140044/Home/Acordeon/takmbh06aibtr7wb8t2n.png" alt="mushimushiPortada" class="img">
          <div>
          <a class="carousel-button"
          href="mushimushi"
          >Visiter la galerie de l'événement</a>
        </div>
          <p>🇨🇭Pour sa première édition, le 𝗠𝘂𝘀𝗵𝗶 𝗠𝘂𝘀𝗵𝗶 𝗠𝘂𝘀𝗶𝗰 𝗙𝗲𝘀𝘁𝗶𝘃𝗮𝗹 se déroulera en plein
            air à Lausanne sur 𝘁𝗼𝗶𝘁 𝗱𝗲 𝗹𝗮 𝗙𝗻𝗮𝗰 (terrasse Jean Monnet) le 𝗱𝗶𝗺𝗮𝗻𝗰𝗵𝗲 𝟭𝟵 𝗺𝗮𝗶
            (veille de jour férié) 𝗱𝗲 𝟭𝟳𝗵 𝗮̀ 𝟮𝗵 du matin ☀️</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ⚽ Copa Indium
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140099/Home/Acordeon/spvb3uaq64rqbyplokat.png" alt="CopaIndiumPortada" class="img">
          <div>
            <a class="carousel-button"
            href="copaIndium"
            >Page de l'événement
          </a>
            <a class="carousel-button"
            href="https://forms.office.com/Pages/ResponsePage.aspx?id=xcV9i6oHvUKQNWpH2zH-A8iKejzaO5JEgEMdc7oEmexUQkNJWDBLV1hHWTJWUFRVWVJQM1dOWjdWTS4u"
            target="_blank">Inscris ton équipe</a>
          </div>
          <p>Tournoi futsal COPA INDIUM</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          🍺 Paulaner-Fest
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140160/Home/Acordeon/ysd0d0gfgyykbhabzxfb.png" alt="PaulanerPortada" class="img">
          <div>
            <a class="carousel-button"
            href="paulanerFest"
            >Visiter la galerie de l'événement
          </a>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        🎤 OMC
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140220/Home/Acordeon/rqtaaegrqwiypmjakk7u.png" alt="OMC Live" class="img">
          <div>
            <a class="carousel-button"
            href="omcLive"
            >Visiter la galerie de l'événement</a>
          </div>
        </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          💃 Bailemos
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140262/Home/Acordeon/wr9clexdmeqxfwokjiln.png" alt="Bailemos" class="img">
          <div>
            <a class="carousel-button"
            href="bailemos"
            >Visiter la galerie de l'événement</a>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          🇪🇨 Festival Ecuador
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140307/Home/Acordeon/oq7f57xfqntztcf07zea.png" alt="FestivalEcuador" class="img">
          <div>
            <a class="carousel-button"
            href="festivalEcuador"
            >Visiter la galerie de l'événement</a>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed custom-accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          🎷 Festival Mambo
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src="https://res.cloudinary.com/dactwdkqr/image/upload/v1721140360/Home/Acordeon/rpdwyrs9vquj8nsxavbt.png" alt="MamboPortada" class="img">
          <div>
            <a class="carousel-button"
            href="https://www.instagram.com/stories/highlights/18033510181584253/"
            target="_blank">Voir les stories</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>