.carousel-slide img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    max-height: 100%; /* Establece la altura máxima al 100% del contenedor */
    display: block; /* Asegura que la imagen tenga un ancho definido */
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }
  
  .carousel-slide {
    position: relative;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0; /* Ajusta esto para controlar la distancia desde la parte inferior */
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .carousel-button {
    display: inline-block;
    background-color:  #c69e45;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: garamond;
    font-size: small;
    margin: 5px;
  }

  .img{
    width: 70%

}
.custom-accordion-button{
  background-color:rgb(77, 77, 77);
  color:#c69e45;
}

.accordion-general{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.custom-card {
  margin: 0 15px;
  max-width: 540px;
  background-color: rgb(77, 77, 77);
  color:#c69e45
  
  
}
h3{
  margin-top: 20px;
  margin-left: 15px;
}

.custom-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
